* {
    text-decoration: none;
    color: black;
}

.icons {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-gap: 50px;
}
.help {
    margin: auto;
    width: 200px;
    padding-top: 50px;
}
.myicon {
    width: 100%;
    height: 100%;
}
